@media only screen and (max-width: 1199px) {
    .video-frame {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid #60fff0;
    }

    .video-frame iframe {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (max-width: 920px) {
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .navbar-brand {
        font-size: 1.0rem;
        font-family: "Mochiy Pop One", sans-serif;
        color: #fff;
    }

    .navbar {
        background-color: #260d44;
        padding: 12px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    h1 {
        font-size: 38px;
        font-weight: 600;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
    }

    .expo-list {
        padding: 30px 0 0;
    }

    #contactme .heading {
        text-align: center;
        margin-bottom: 30px;
    }

    #projects .heading {
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-details .fa-2xl {
        font-size: 20px;
    }

    .expo-list th {
        height: 50px;
        border-left: 1px solid #fff;
        text-align: center;
        font-size: 14px;
    }

    .video-frame {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid #60fff0;
    }

    .video-frame iframe {
        width: 100%;
        height: 200px;
    }

    .expo-list td {
        height: 120px;
        padding: 0 10px;
        border-left: 1px solid #fff;
        font-size: 8px;
    }

    main hr {
        border: 0;
        background-color: #f0e0ff;
        height: 2px;
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 26px;
        font-weight: 600;
    }

    h2 {
        font-size: 22px;
        font-weight: 500;
    }

    h3 {
        font-family: "Archivo Black", sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    h4 {
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 10px;
    }

    .project-details div {
        color: #1261ff;
        padding: 0;
        margin: 0;
        height: 18px;
        font-size: 12px;
        border-bottom: 2px solid #1261ff;
    }

    .two-buttons {
        margin-top: 15px;
        flex-direction: column;
    }

    .expo-list th {
        height: 50px;
        border-left: 1px solid #fff;
        text-align: center;
        font-size: 8px;
    }

    .video-frame {
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid #60fff0;
    }

    .video-frame iframe {
        width: 100%;
        height: 150px;
        font-size: 14px;
    }

    .expo-list td {
        height: 70px;
        padding: 0 5px;
        border-left: 1px solid #fff;
        font-size: 6px;
    }

    a.common-btn {
        display: inline-block;
        width: 160px;
        background-color: #fff0;
        height: 40px;
        text-align: center;
        line-height: 35px;
        color: #fff;
        border-radius: 5px;
        font-size: 13px;
        border: 2px solid #fff;
    }

    section {
        padding: 30px 0;
    }

    #home {
        padding: 100px 0 50px;
    }

    #about {
        padding: 30px 0;
    }

    .footer-content {
        max-width: 100%;
    }

    .foot-heading {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .video-frame {
        width: 100%;
        height: 100px;
        overflow: hidden;
        border-radius: 10px;
        border: 2px solid #60fff0;
    }

    .video-frame iframe {
        width: 100%;
        height: 100px;
    }
}